# For Eddy USB/Duo, include the mcu and temperature sensor sections.
# Omit for Eddy Coil
[mcu eddy]
# Or whatever is appropriate for CAN
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450611868471C-if00
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

# For all Eddy (USB/Duo/Coil)
[probe_eddy_ng btt_eddy]
sensor_type: ldc1612
# Eddy USB/Duo values below. For Eddy Coil, replace these two with mcu/bus for your setup.
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -36.16 # INSERT VALUE FOR YOUR PROBE POSITION
y_offset: 31.66 # INSERT VALUE FOR YOUR PROBE POSITION 
#tap_drive_current: 15
#reg_drive_current: 15
#tap_mode: wma
#tap_samples_stddev: 0.025
#tap_samples: 3
#tap_max_samples: 15


[bed_mesh]
speed:150    #150            
horizontal_move_z:2   #5
mesh_min: 20,35 #30,45
mesh_max: 195,215 #190,210
probe_count:11,11 #9,3
algorithm:bicubic
adaptive_margin: 10
#bicubic_tension:0.2
#mesh_pps: 4, 4 
#fade_start: 1.0
#fade_end: 10.0 

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BTT_BED_MESH_CALIBRATE
gcode:
  BTT_BED_MESH_CALIBRATE METHOD=rapid_scan 

#[gcode_macro Z_TILT_ADJUST]
#rename_existing: _Z_TILT_ADJUST
#gcode:
#    SAVE_GCODE_STATE NAME=STATE_Z_TILT
#    BED_MESH_CLEAR
#    {% if not printer.z_tilt.applied %}
#    _Z_TILT_ADJUST horizontal_move_z=10 retry_tolerance=1
#    {% endif %}
#    _Z_TILT_ADJUST horizontal_move_z=2
#    RESTORE_GCODE_STATE NAME=STATE_Z_TILT